ul#long-term-memory.tools(ng-cloak='',
  ng-controller = "hubCtrl",
  ng-keydown = "keyPressed($event)")
  li
    i.looking-glass 
    input(type = "search",
          ng-model = "key",
          placeholder = "{{'SEARCH' | translate}}")     
  li(ng-repeat='k in getIndex(key)')
    a(ng-click="jumpTo(k)",
      ng-class="{active: curious == $index}",
      title = "{{hub[k] && hub[k].related[0] && hub[k].related[0].n}}")
      | {{k}}
  li
    a(ng-click="createNew(key)",
      ng-show="key && !getIndex(key).length",
      ng-class="{active: curious == (getIndex(key)||[]).length + 1}"
      title = "{{'CREATE' | translate}}")
      | {{'CREATE' | translate }}{{key}}

hr.noPrint

ul#short-term-memory.tools(ng-cloak='')
  i#remember.noPrint.gray(ng-cloak='')
    span(ng-hide = "$s.myAnchors && $s.myAnchors.length")
      | {{'NOT' | translate }}
    | {{'MY_STAR' | translate }}
  span
    a.noPrint(ng-click='toggleAnchor(objNow())')
      img#star(ng-src='{{showStar(objNow())}}',
        alt='{{"GATHER" | translate}}', 
        title='{{"GATHER" | translate}}')
    a.noPrint(ng-click='resetAnchors()')
      img#zazan(src='images/mySelf.png',
        alt='{{"ZAZAN" | translate}}', 
        title='{{"ZAZAN" | translate}}')       


  li.noPrint(ng-repeat='a in $s.myAnchors')
    
    a(ng-click='goban.title = a.t; goban.myI = a.x; goban.myJ = a.y; goban.load(a[x])',
      title = "{{a.x}}-{{a.y}}@{{a.t | uriFix}}")
      img(ng-src='http://www.google.com/s2/favicons?domain={{a.url}}')
      span.text
        | {{a.n | uriFix }}
      img#QR.printOnly(ng-src="http://chart.apis.google.com/chart?chs=200x200&cht=qr&chld=|1&chl=http%3A%2F%2F{{a.url | makeQR}}" alt="qrcode_ex")
      span.printOnly
        br
        | {{a.url}}
  li.printOnly
    include ad.jade    
