div#setting-bar
  a(ng-click='goEdit();toggleSideBar();')
    span#goban-sectionTitle
      | {{(goban.sectionTitle && 'EDIT') || 'CREATE' | translate}}{{goban.sectionTitle || ''}}
 
ul
  li(ng-repeat='j in goban.data | toIndex',
    ng-click='goban.setJ(j)',
    ng-keydown="myKeydown($event)")
    a(ng-if='goban.data[j].isFolder', ng-click='$parent.goban.data[j].isClosed = !goban.data[j].isClosed; sleep();', ng-class='{active: goban.myJ == j, folder: goban.data[j].isFolder}')
      img.folder(ng-show='goban.data[j].isClosed', src='images/isClosed.png')
      img.folder(ng-show='!goban.data[j].isClosed', src='images/isOpen.png')
      | {{goban.data[j].name || j}}
      b.arrowHead(ng-class='{right: goban.data[j].isClosed, down: !goban.data[j].isClosed}')
    a.elem(ng-if='!goban.data[j].isFolder',
            ng-show='goban.data[j].isIsolated || !goban.data[goban.data[j].pIndex].isClosed',
            ng-class='{active: goban.myJ == j}',
            ng-click='$parent.goban.myJ = j; sleep(); toggleSideBar();')
      img(ng-src='http://www.google.com/s2/favicons?domain={{goban.data[j].url}}')
      | {{goban.data[j].name || j}}
//-  li#append
    input(type = "text" placeholder = "URL")
    input(type = "text" placeholder = "TITILE")
    bottom
      |{{'APPEND' | translate}} -//
